.errors li {
    color: red;
    font-size: 10px;
}

.flashes .success {
    color: green;
}

.flashes .error {
    color: red;
}

body {
    padding: 25px;
}

table {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
}

th {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}

td {
    border: 1px solid black;
    padding: 10px;
    text-align: justify;
}