{% extends 'admin/manage_data_layout.html' %}
{% block table_content %}

<a href="{{ url_for('add_subject')}}">Add Subject</a>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        {% for subject in data %}
        <tr>
            <td>{{ subject.id }}</td>
            <td>{{ subject.name }}</td>
            <td>{{ subject.description }}</td>
            <td>
                <a href="{{ url_for('edit_subject', subject_id=subject.id)}}">Edit</a>
            </td>
            <td>
                <a href="{{ url_for('delete_subject', subject_id=subject.id) }}">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}