{% extends 'admin/manage_data_layout.html' %}
{% block table_content %}

<a href="{{ url_for('add_question') }}">Add Question</a>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Question</th>
            <th>Choices</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        {% for question in data %}
        <tr>
            <td>{{ question.id }}</td>
            <td>{{ question.question_statement }}</td>
            <td>
                <table>
                    <tbody>
                        <tr>
                            <td>{{ question.option_1 == question.correct_option }}</td>
                            <td>{{ question.option_1 }}</td>
                        </tr>
                        <tr>
                            <td>{{ question.option_2 == question.correct_option }}</td>
                            <td>{{ question.option_2 }}</td>
                        </tr>
                        <tr>
                            <td>{{ question.option_3 == question.correct_option }}</td>
                            <td>{{ question.option_3 }}</td>
                        </tr>
                        <tr>
                            <td>{{ question.option_4 == question.correct_option }}</td>
                            <td>{{ question.option_4 }}</td>
                        </tr>
                    </tbody>
                </table>
            </td>
            <td>
                <form action="{{ url_for('delete_question', question_id=question.id) }}" method="post">
                    <button onclick="return confirm('Are you sure you want to delete this object?')">Delete</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}