{% extends 'admin/manage_data_layout.html' %}
{% block table_content %}

<a href="{{ url_for('add_quiz') }}">Add Quiz</a>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>
            <th>Date</th>
            <th>Duration</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        {% for quiz in data %}
        <tr>
            <td>{{ quiz.id }}</td>
            <td>{{ quiz.name }}</td>
            <td>{{ quiz.description }}</td>
            <td>{{ quiz.date_of_quiz }}</td>
            <td>{{ quiz.duration }}</td>
            <td>
                <a href="{{ url_for('edit_quiz', quiz_id=quiz.id )}}">Edit</a>
            </td>
            <td>
                <a href="{{ url_for('delete_quiz', quiz_id=quiz.id)}}">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}