{% extends 'layout.html' %}
{% block title %} Attempt Quiz: {{ quiz.name }} {% endblock %}
{% block content %}

<h2>{{quiz.name}}</h2>

<form action="{{ url_for('attempt_quiz', quiz_id=quiz.id)}}" method="post">
    <table>
        <tr>
            <th>Question</th>
            <th>Answer</th>
        </tr>
        {% for question in quiz.questions %}
        <tr>
            <td>
                <h3>{{question.question_statement}}</h3>
            </td>
            <td>
                <div>
                    <input type="radio" name="question_{{question.id}}" value="{{question.option_1}}">
                    <label>{{question.option_1}}</label>
                </div>
                <div>
                    <input type="radio" name="question_{{question.id}}" value="{{question.option_2}}">
                    <label>{{question.option_2}}</label>
                </div>
                <div>
                    <input type="radio" name="question_{{question.id}}" value="{{question.option_3}}">
                    <label>{{question.option_3}}</label>
                </div>
                <div>
                    <input type="radio" name="question_{{question.id}}" value="{{question.option_4}}">
                    <label>{{question.option_4}}</label>
                </div>
            </td>
        </tr>
        {% endfor %}
        <tr>
            <th colspan="2"><button type="submit">Submit</button></th>
        </tr>
    </table>
</form>

{% endblock %}