{% extends 'layout.html' %}
{% block title %} Attempt Quiz: {{ quiz.name }} {% endblock %}
{% block head %}
<style>
    body {
        padding: 25px;
        padding-bottom: 50px;
    }

    table {
        border-collapse: collapse;
        width: 100%;
        table-layout: fixed;
    }

    th {
        border: 1px solid black;
        padding: 10px;
        text-align: center;
    }

    td {
        border: 1px solid black;
        padding: 10px;
        text-align: justify;
    }
</style>
{% endblock %}
{% block content %}

<h2>{{quiz.name}}</h2>

<form action="{{ url_for('attempt_quiz', quiz_id=quiz.id)}}" method="post">
    <table>
        <tr>
            <th>Question</th>
            <th>Answer</th>
        </tr>
        {% for question in questions %}
        <tr>
            <td>
                <h5>{{question.question_statement}}</h5>
            </td>
            <td>
                <div>
                    <input type="radio" name="question_{{question.id}}" value="{{question.option_1}}">
                    <label>{{question.option_1}}</label>
                </div>
                <div>
                    <input type="radio" name="question_{{question.id}}" value="{{question.option_2}}">
                    <label>{{question.option_2}}</label>
                </div>
                <div>
                    <input type="radio" name="question_{{question.id}}" value="{{question.option_3}}">
                    <label>{{question.option_3}}</label>
                </div>
                <div>
                    <input type="radio" name="question_{{question.id}}" value="{{question.option_4}}">
                    <label>{{question.option_4}}</label>
                </div>
            </td>
        </tr>
        {% endfor %}
        <tr>
            <th colspan="2"><button type="submit">Submit</button></th>
        </tr>
    </table>
</form>

{% endblock %}