{% set role = "User" %}
{% if current_user.is_admin %}
{% set role = "Admin" %}
{% endif %}

{% extends "layout.html" %}
{% block head %}
<style>
    .sidebar {
        display: grid;
        grid-template-columns: 1fr 3fr;
        gap: 5px;
        padding: 5px
    }
</style>
{% endblock %}
{% block title %}{{ role }} Dashboard{% endblock %}
{% block content %}
<h1>{{ role }} Dashboard</h1>

<h3>Welcome back, {{ role }} {{ current_user.fullname }}!</h3>
<p>
    Your Lifetime Score is: {{current_user.lifetime_score}}
</p>

{% if current_user.is_admin %}
<div class="sidebar">
    <ul>
        <li><a href="{{ url_for('manage_users') }}">Manage Users</a></li>
        <li><a href="{{ url_for('manage_subjects')}}">Manage Subjects</a></li>
        <li><a href="{{ url_for('manage_quizzes')}}">Manage Quizzes</a></li>
        <li><a href="{{ url_for('manage_questions')}}">Manage Quiz Questions</a></li>
    </ul>
</div>
{% endif %}

<div>
    <h3>Attempt any quiz based on your interest from the list:</h3>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Date</th>
                <th>Duration</th>
                <th>Attempt</th>
            </tr>
        </thead>
        <tbody>
            {% for quiz in quizzes %}
            <tr>
                <td>{{ quiz.name }}</td>
                <td>{{ quiz.description }}</td>
                <td>{{ quiz.date_of_quiz }}</td>
                <td>{{ quiz.duration }}</td>
                <td>
                    <a href="{{ url_for('attempt_quiz', quiz_id=quiz.id)}}">Go!</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


{% endblock %}