{% set role = "User" %}
{% if current_user.is_admin %}
{% set role = "Admin" %}
{% endif %}

{% extends "layout.html" %}
{% block head %}
<style>
    .sidebar {
        display: grid;
        grid-template-columns: 1fr 3fr;
        gap: 5px;
        padding: 5px
    }
</style>
{% endblock %}
{% block title %}{{ role }} Dashboard{% endblock %}
{% block content %}
<h1>{{ role }} Dashboard</h1>

<h3>Welcome back, {{ role }} {{ current_user.fullname }}!</h3>

{% if current_user.is_admin %}
<div class="sidebar">
    <ul>
        <li><a href="{{ url_for('manage_users') }}">Manage Users</a></li>
        <li><a href="{{ url_for('manage_subjects')}}">Manage Subjects</a></li>
        <li><a href="{{ url_for('manage_quizzes')}}">Manage Quizzes</a></li>
        <li><a href="{{ url_for('manage_questions')}}">Manage Quiz Questions</a></li>
    </ul>
</div>
{% endif %}

{% endblock %}